@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;

<PageTitle>Luis_Baltodano_AP1_P3</PageTitle>

<div class="page">
    
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
             <a href="https://github.com/LRafael21" target="_blank">Github</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="4"
                IconType="IconType.Material"
                ErrorIcon="Error⛔ "
                InfoIcon="Guardado"
                SuccessIcon="Encontrado😁"
                WarningIcon="warning"
                ShowProgressBar="@true"
                ShowCloseButton="@true">
</BlazoredToasts>